.search-row {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.1fr 0.1fr 0.1fr;
    border: 0.1rem solid #4b4b4b; 
}

.search-item {
    padding: 0.1rem;
    background-color: #cdcdcd;
    border-right: 0.1rem solid #4b4b4b;
    border-left: 0.1rem solid #4b4b4b;

}

.search-header {
    font-weight: bold;
}   
