.search-row {
    display: grid;
    grid-template-columns: 6rem 15rem 40rem 15rem 6rem 6rem;
    border: 0.1rem solid #4b4b4b; 
}

.search-item {
    padding: 0.1rem;
    background-color: #cdcdcd;
    border-right: 0.1rem solid #4b4b4b;
    border-left: 0.1rem solid #4b4b4b;
}

.search-filter {
    border-right: 0.1rem solid #4b4b4b;
    border-left: 0.1rem solid #4b4b4b;
}

.search-header {
    font-weight: bold;
    border-right: 0.1rem solid #4b4b4b;
    border-left: 0.1rem solid #4b4b4b;
}   
