body {
    font-family: 'Courier', sans-serif;
    background-color: #014059;
    color: #fff;
    line-height: 2.0;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    padding: 20px 50px;
    margin: 20px 0;
    position: relative;
}

.card:hover {
    background-color: rgb(224, 224, 224);
}
