body {
    font-family: 'Courier', sans-serif;
    line-height: 2.0;
}

.card {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

.stat-label {
    color: #000000;
    padding-right: 30px;
}

.horizontal {
    display: inline-block;
}
